[MASTER]
# Let python-black take care of indentation.
disable=bad-continuation

[BASIC]
# fastapi requres the small letter "app" variable in global scope.
good-names=app,id,i,j,k

[SIMILARITIES]

# Ignore imports when computing similarities.
ignore-imports=yes